<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavovargas.movilv20" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Preguntas"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreguntasTeoricas"
            android:label="@string/title_activity_preguntas_teoricas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultadoDeTest"
            android:label="@string/title_activity_resultado_de_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sugerencias"
            android:label="@string/title_activity_sugerencias"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreguntasPracticas"
            android:label="@string/title_activity_preguntas_practicas"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".preguntasInstruciones"
            android:label="@string/title_activity_preguntas_instruciones"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
