<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neyrojas.pmm" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".lugarActivity"
            android:label="@string/title_activity_lugar" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".DetalleActivity"
            android:label="@string/title_activity_detalle"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Preguntas"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PreguntasTeoricas"
            android:label="@string/title_activity_preguntas_teoricas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResultadoDeTest"
            android:label="@string/title_activity_resultado_de_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".manualActivity"
            android:label="@string/title_activity_manual" >
        </activity>
        <activity
            android:name=".seccionesActivity"
            android:label="@string/title_activity_secciones" >
        </activity>
        <activity
            android:name=".subseccionesActivity"
            android:label="@string/title_activity_subsecciones" >
        </activity>
        <activity
            android:name=".estadisticas"
            android:label="@string/title_activity_estadisticas" >
        </activity>
        <activity
            android:name=".Resultados"
            android:label="@string/title_activity_resultados" >
        </activity>
        <activity
            android:name=".preguntasInstruciones"
            android:label="@string/title_activity_preguntas_instruciones"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".PreguntasPracticas"
            android:label="@string/title_activity_preguntas_practicas"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ppierson.t4jtwitterlogin.T4JTwitterLoginActivity" >
        </activity>
        <activity
            android:name=".Sugerencias"
            android:label="@string/title_activity_sugerencias"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
