/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2014, 10:58:31 PM
    Author     : Ney Rojas
*/

.MarginSubTitulo{
    margin-left: 5%;
}

.MarginSubSubTitulo{
    margin-left: 10%;
}

#map_canvas {
    width: 60%;
    height: 400px;
}
